*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.list {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 950px;
    background-color: gray;
    transform: translateX(-350px);
    transition: transform 1s ease;
}
.list:hover {
    transform: translateX(0px);
    transition: transform 1s ease;
}
.list-link {
    text-decoration: none;
    font-size: 24px;
    color: whitesmoke;
    transition: color 1s ease;
}
.list-link:hover {
    color: chocolate;
    transition: color 1s ease;
}
.title {
    color: aliceblue;
    font-size: 36px;
    font-weight: 300;
    width: 200px;
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    left: 70%;
    transition: opacity 1s ease;
}
.list:hover .title {
    opacity: 0;
    transition: opacity 1s ease;
}
.icon-diamonds {
    fill: #757575;
    width: 10px;
    height: 12px;
    color: #757575;
}